.text-orange:hover {
  color: #ff9800 !important;
  transition: color 1s ease-in-out;
}

.animation-header__background {
  width: 100%;
  height: 8%;
  background: url('../public/header.png');
  animation: slide 50s linear infinite;
  will-change: background-position;
  z-index: -1;
}


@keyframes slide {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -4000px 0;
  }
}

.toast-message {
  background: #b39ddb;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 18px;
}
